# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.sln.ide
*.sln.docstates

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak

# Other files
Thumbs.db
ehthumbs.db
Desktop.ini
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.cache
*.ilk
*.idb
*.ipch/
*.aps
*.pch
*.pdb
*.obj
*.sbr
*.scc
*.tlog/
*.log
*.vspscc
*.vssscc

# Publish folder
publish/

/repository/data_base_log
*.meta
*.db
*.crc32
*.txt
*.crc
*.metadata
*.wt
*.2025-04-13T02-40-31Z-00000
*.2025-04-13T02-42-01Z-00000
*.2025-04-14T03-16-25Z-00000
*.2025-04-14T09-18-46Z-00000
*.2025-04-15T00-38-32Z-00000
*.interim
*.0000000005
*.0000000001
*.lock
*.bson
/MDBMS---E-COMMERCE-PLATFORM/repository/data_base_log
